<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        .container{
            width: 50%;
            margin: 0 auto;
            padding: 30px;
            background: #e2e2e2;
        }

    </style>
</head>
<body>

<div class="container">
    <h1>Welcome to Home Page</h1>
    <p>Lorem50Lorem50Lorem50Lorem50Lorem50
        Lorem50Lorem50Lorem50Lorem50Lorem50Lorem50
        Lorem50Lorem50Lorem50Lorem50Lorem50Lorem50
        Lorem50Lorem50Lorem50Lorem50Lorem50</p>
</div>

</body>
</html>